.card(style='width: 18rem;')
    img.card-img-top(src='https://picsum.photos/200/300', alt='Image')
    .card-body
        h5.card-title= user.name
        p.card-text= user.age
        a.btn.btn-primary(href='#') Go somewhere
